# Application Configuration
PORT=8080
ENV=development
JWT_SECRET="your-256-bit-secret-key-change-me"

# Database Connection (PostgreSQL)
# Note: append &pgbouncer=true when using transaction-poolers like Neon or Supabase pooler
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/go_backend?sslmode=disable"
